src/n8n/workflows/telegram-route.json
{
  "name": "Telegram → Skills Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-route",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Telegram Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "telegram-route"
    },
    {
      "parameters": {
        "jsCode": "// Telegram uses a simple token match, not HMAC — per Telegram Bot API spec (R-02: fail-closed)\nconst secret = $env['TELEGRAM_WEBHOOK_SECRET'] ?? '';\nconst sig = $input.first().headers['x-telegram-bot-api-secret-token'] ?? '';\nif (!secret || !sig || sig !== secret) {\n  throw new Error('Webhook token invalid — dropping payload (R-02)');\n}\n\nconst body = $input.first().json;\nconst message = body?.message ?? body?.edited_message;\nif (!message?.text) throw new Error('No text in Telegram update');\n\nreturn [{\n  json: {\n    intent: message.text,\n    chat_id: String(message.chat.id),\n    user_id: String(message.from?.id ?? ''),\n    timestamp: new Date().toISOString(),\n    metadata: { message_id: message.message_id }\n  }\n}];"
      },
      "id": "validate-and-extract",
      "name": "Validate & Extract Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }"
      },
      "id": "respond-ok",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 460]
    },
    {
      "parameters": {
        "jsCode": "// HMAC-SHA256 over the exact body string the Router will read.\n// Body must be built explicitly here so n8n's HTTP node does not re-serialize\n// and break signature validation (raw bytes must match).\nconst crypto = require('crypto');\nconst p = $input.first().json;\nconst bodyObj = {\n  intent: p.intent,\n  chat_id: p.chat_id,\n  user_id: p.user_id,\n  timestamp: p.timestamp,\n  metadata: p.metadata,\n};\nconst bodyStr = JSON.stringify(bodyObj);\nconst secret = $env['SKILLS_ROUTER_SECRET'] ?? '';\nif (!secret) throw new Error('SKILLS_ROUTER_SECRET missing — fail-closed (R-02)');\nconst sig = 'sha256=' + crypto.createHmac('sha256', secret).update(bodyStr).digest('hex');\nreturn [{ json: { _bodyStr: bodyStr, _sig: sig } }];"
      },
      "id": "compute-hmac",
      "name": "Compute Skills Router HMAC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env['SKILLS_ROUTER_URL'] }}/webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-signature-256", "value": "={{ $json._sig }}" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json._bodyStr }}",
        "options": { "timeout": 10000 }
      },
      "id": "call-skills-router",
      "name": "Call Skills Router",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env['TELEGRAM_BOT_TOKEN'] }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id", "value": "={{ $('Validate & Extract Intent').item.json.chat_id }}" },
            { "name": "text", "value": "={{ $json.matched ? '✓ Routed to: ' + $json.skill.name : '⚠ No matching skill found for: ' + $('Validate & Extract Intent').item.json.intent }}" },
            { "name": "parse_mode", "value": "HTML" }
          ]
        }
      },
      "id": "reply-telegram",
      "name": "Reply to Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Telegram Webhook": {
      "main": [[{ "node": "Validate & Extract Intent", "type": "main", "index": 0 }]]
    },
    "Validate & Extract Intent": {
      "main": [[
        { "node": "Respond 200 OK", "type": "main", "index": 0 },
        { "node": "Compute Skills Router HMAC", "type": "main", "index": 0 }
      ]]
    },
    "Compute Skills Router HMAC": {
      "main": [[{ "node": "Call Skills Router", "type": "main", "index": 0 }]]
    },
    "Call Skills Router": {
      "main": [[{ "node": "Reply to Telegram", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  },
  "_comment": "Import via n8n UI: Workflows → Import from file. Set env vars TELEGRAM_BOT_TOKEN, TELEGRAM_WEBHOOK_SECRET, SKILLS_ROUTER_URL, SKILLS_ROUTER_SECRET before activating."
}
