workflows/n8n/code-agent.json
{
  "name": "code-agent",
  "nodes": [
    {
      "id": "webhook-code",
      "name": "code-agent Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "code-agent",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "code-context",
      "name": "Extract Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300],
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst text = (body.text || '').toString();\nconst chatId = String(body.chat_id || '');\nconst isTest = chatId === 'test' || chatId.startsWith('test-');\nreturn [{ json: { text, chat_id: chatId, is_test: isTest } }];"
      }
    },
    {
      "id": "http-github-prs",
      "name": "List Open PRs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [750, 300],
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/@@GITHUB_REPO@@/pulls?state=open&per_page=5",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" },
            { "name": "User-Agent", "value": "@@GITHUB_REPO@@/code-agent" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 15000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "@@CRED_GITHUB_PAT_ID@@",
          "name": "GitHub PAT Actions Write"
        }
      }
    },
    {
      "id": "code-build-reply",
      "name": "Build Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300],
      "parameters": {
        "jsCode": "const ctx = $('Extract Context').first().json;\nconst items = $input.all();\nlet prs = [];\nfor (const it of items) {\n  const j = it.json;\n  if (Array.isArray(j)) { prs = j; break; }\n  if (j && Array.isArray(j.body)) { prs = j.body; break; }\n  if (j && typeof j === 'object' && j.number && j.title) { prs.push(j); }\n}\nconst lines = [];\nlines.push('\\ud83d\\udce6 ' + prs.length + ' PRs \\u05e4\\u05ea\\u05d5\\u05d7\\u05d9\\u05dd');\nfor (const p of prs.slice(0, 3)) {\n  lines.push('#' + p.number + ' \\u2014 ' + (p.title || ''));\n}\nif (prs.length === 0) { lines.push('\\u05d0\\u05d9\\u05df PRs \\u05e4\\u05ea\\u05d5\\u05d7\\u05d9\\u05dd.'); }\nconst reply = lines.join('\\n');\nreturn [{ json: { chat_id: ctx.chat_id, reply_text: reply, is_test: ctx.is_test } }];"
      }
    },
    {
      "id": "if-test",
      "name": "Is Test?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1250, 300],
      "parameters": {
        "conditions": {
          "boolean": [
            { "value1": "={{ $json.is_test }}", "value2": true }
          ]
        }
      }
    },
    {
      "id": "telegram-send",
      "name": "Send Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1500, 400],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.reply_text }}"
      },
      "credentials": {
        "telegramApi": {
          "id": "@@CRED_TELEGRAM_ID@@",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1750, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, agent: 'code', reply: $json.reply_text }) }}"
      }
    }
  ],
  "connections": {
    "code-agent Webhook": {
      "main": [[{ "node": "Extract Context", "type": "main", "index": 0 }]]
    },
    "Extract Context": {
      "main": [[{ "node": "List Open PRs", "type": "main", "index": 0 }]]
    },
    "List Open PRs": {
      "main": [[{ "node": "Build Reply", "type": "main", "index": 0 }]]
    },
    "Build Reply": {
      "main": [[{ "node": "Is Test?", "type": "main", "index": 0 }]]
    },
    "Is Test?": {
      "main": [
        [{ "node": "Respond", "type": "main", "index": 0 }],
        [{ "node": "Send Reply", "type": "main", "index": 0 }]
      ]
    },
    "Send Reply": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
